@model Blic_tur.Models.Manager

@{
    ViewData["Title"] = "Delete";
}

    <h2>Удалить</h2>

    <h3>Вы уверены, что хотите удалить этот элемент?</h3>
<div>
    <h4>Manager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SurName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SurName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
