@model IEnumerable<Blic_tur.Models.Route>

@{
    ViewData["Title"] = "Index";
}

<h2>Все рейсы</h2>

<p>
    <a asp-action="Create">Добавить новый маршрут</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @item.CityFrom?.Title
            </td>
            <td>
                @item.CityTo?.Title
            </td>
            <td>
                <a href="~/uploads/@item.Img">@item.Img</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
